[2018-11-12 15:51] mconcas opened #1 "[feature request] Enable some "keep session alive" mechanism"
I will really be glad to launch my ali* compilation and detach from terminal.
A tmux session would be just fine, also thanks to the iterm integration on macos.
It can be toggled, if you prefer.

PR soon

[2018-11-14 15:40] dberzano opened #6 "To do list for the Starterkit 2018"
- [x] Configuration file (#16)
- [x] Update container (#24)
- [x] Update script (#10)
- [x] `.bashrc` & friends (#7)
- [x] Make commands stable (#9)
- [x] Automatic container generation & push (#15)
- [x] Documentation (alice-doc/alice-analysis-tutorial#51)
- [x] Add `tmux` integration (#8)
- [x] Admin mode as in `alidock root` (#7)
- [x] Automatic deployment on pypi (#12)
- [x] Fix `aliBuild init

[2018-11-14 16:26] mconcas commented on #6
I am pretty sure you remember that, but there should be a custom flag to pass docker to avoid cvmfs to become unusable inside the container

[2018-11-15 19:07] #1 closed, assigned to nobody

[2018-11-16 01:25] dberzano commented on #6
@mconcas I have commented on #11, now closed. Passing the custom flag makes it work. But it breaks `alidock` completely on macOS, as in: the container won't start at all. CVMFS is not urgent, and should be a config option.

[2018-11-16 13:40] dberzano commented on #6
I have just added a bullet on the installation of alidock. We essentially need some lines that make it work everywhere.

The experienced user can extrapolate all the required information from `pip install alidock`, and we would like not to install anything as root.

One option is:

[code]

Problems:

* Only one `PYTHONUSERBASE` is allowed, cannot append path.
* Option `--user` needs to be specifie

[2018-11-16 13:40] dberzano commented on #6
Documentation should mention how to add a user to the `docker` group. And `alidock` should refuse `ssh`ing as `root` (you cannot run `alidock` as `root`).

[2018-11-19 09:43] mconcas opened #22 "tmux -CC makes session to hang"
It turns out that if you ask for a `tmux -CC` session in a terminal that does not support tmux integration, it more or less silently (it depends on the terminal app you use) hangs in errors.

Step to reproduce the bug:
option 1) Use builtin Term.app on macos
option 2) Use any other terminal on Linux

Since, after a quick lookup on the stackoverflow bible, it looks like `-CC` is officially supporte

[2018-11-19 11:27] dberzano commented on #22
`man tmux` does not say anything iTerm-specific in the `CONTROL MODE` section, but thanks for raising the issue, which stands.

[2018-11-19 15:27] mpuccio opened #25 "alidock fails with Python 3.7"
Ciao @dberzano @mconcas ,

it looks like alidock does not like Python3, here the output of the `alidock` command:

[code]

Could you have a look?
Thanks!
Max

[2018-11-19 15:39] #25 closed, assigned to nobody

[2018-11-19 21:50] #22 closed, assigned to nobody

[2018-11-20 11:15] dberzano opened #27 "Expose the aliBuild sw variable"
As @mpuccio pointed out, if we work in subdirs then aliBuild does not know where `sw` is. We probably need a set of default variables that get exported with the container.

Note this has nothing to do with the `-e` option of Docker, we need to edit the `bashrc` file.

[2018-11-20 14:40] #27 closed, assigned to nobody

[2018-11-21 14:24] dberzano commented on #6
This is to say that we have nightly-produced cached builds for Run 2 sw.

[2018-11-22 00:38] #6 closed, assigned to nobody

[2018-11-22 11:03] dberzano opened #39 "Performance issues on macOS"
There are incredible performance issues on macOS when using bind mounts. There is an essay on that on the [Docker website](https://docs.docker.com/docker-for-mac/osxfs-caching/). There is also additional information on native volumes performance issues [here](https://medium.com/@TomKeur/how-get-better-disk-performance-in-docker-for-mac-2ba1244b5b70).

The proposed solution is:

* move the aliBuild

[2018-11-22 11:48] #39 closed, assigned to nobody

[2018-11-22 13:00] mconcas opened #40 "Add possibility to publish container port on host"
It will become natural to have some people wanting to use jupyter notebooks or similia.
This can't be done, afaik, at the moment.

It would be a good enhancement.

[2018-11-22 13:02] dberzano commented on #40
It would be essential by Friday, since Markus' tutorial is based... on Jupyter 🙂

[2018-11-22 13:04] dberzano commented on #39
I have marked this as a bug since its presence really made `alidock` unusable on macOS.

[2018-11-22 14:20] dberzano commented on #40
On Jupyter notebooks I have opened an issue to ROOT, see [ROOT-9829](https://sft.its.cern.ch/jira/browse/ROOT-9829). See also kaczmarj/neurodocker#82.

The ROOT issue describes our workaround for making it work. Once it does, we still need to forward the port, _somehow_. We could even use SSH for that, but I'd prefer to use Docker's native capabilities.

For SSH, we have Docker mapping 22 to a ran

[2018-11-22 14:33] dberzano opened #41 "Add license"
GPLv3 ofc

[2018-11-23 10:39] mconcas commented on #41
Closed by #43

[2018-11-23 10:39] #41 closed, assigned to nobody

[2018-11-23 15:19] mconcas opened #46 "Add possibility to choose the nVidia runtime at launch"
It would be great to support the former [nvidia-docker](https://github.com/NVIDIA/nvidia-docker) in alidock.
For those who want to run/develop code using nVidia GPUs inside containers.

[2018-11-28 15:40] dberzano opened #49 "Change default editor for Git messages"
People are confused with vim. We have jokes about whether it's more difficult to get out of a crashed ROOT session, or vim.

It is better if:

* we install `nano` in the container,
* we provide an automatic export of `GIT_EDITOR=nano` in our init scripts

[2018-11-28 15:43] dberzano commented on #49
Also, maybe it's a good idea to add some annoying syntax coloring for Git messages > 50 chars!

[2018-11-28 17:18] #49 closed, assigned to nobody

[2018-11-29 11:54] dberzano opened #52 "Make Dropbox/cernbox visible in the container automatically"
We might have a perfectly legitimate use case of users wanting to expose some directories other than alidock inside the container.

For instance, it would be maybe nice to have `~/Dropbox` and `~/cernbox` automatically exposed, somehow. (Maybe, I said.)

cc @tomas-herman

[2018-11-30 00:29] dberzano opened #56 "Stop container automatically if no sessions active for a while"
Allows the next runs of `alidock` to also update the container.

[2018-11-30 00:29] #46 closed, assigned to mconcas

[2018-11-30 08:15] olantwin commented on #56
How would you define active session? I can imagine opening a `tmux` in the container for some long-running process and then disconnecting for several hours before checking on it again. Returning to find that the container has shut down could be very surprising.

[2018-11-30 08:53] dberzano commented on #56
Of course we need to detect tmux/screen/etc. sessions. Do you have any ideas on how to do that yourself? Consider this ticket as a RFC, not a letter of intentions 😄

The problem I am trying to solve is that I'd like container images to update automatically as soon as possible, and this is obviously not possible if the user has active sessions.

We have seen yesterday that users get confused even w

[2018-11-30 10:31] mconcas commented on #56
To detect active processes into a container is indeed straightforward ([`Container.top()`](https://docker-py.readthedocs.io/en/stable/containers.html?highlight=top)).
Less trivial is to decide whether the container is actually doing something or not
 - You cannot inspect running processes inside a tmux session, using `ps`
 - If the user uses tmux on regular basis with alidock, you will always find

[2018-11-30 13:33] dberzano commented on #56
@mconcas the container should self-stop. This means that it's something inside the container that should do the job, not `alidock`.

[2018-11-30 14:21] mconcas commented on #56
I'd prefer to rely on users' machine reboots than on a timer inside a container, but it's a matter of tastes, I guess... ⏲ 💣

[2018-12-04 10:34] svallero opened #62 "Support python3"
It would be nice to have the possibility to choose a Python3 environment with proper aliBuild inside the alidock container, for example:
alidock --python3
possibly with a separate path to the build directory so that code built with python2/3 can coexist.

This would be needed for instance by ML tasks.

[2018-12-04 11:24] dberzano commented on #62
alidock is, and will be, a generic tool depending on a certain container underneath: the `--python3` (or so) option would break this statement (note that this has nothing to do with the `--nvidia` option, which uses a different Docker runtime).

We have aliBuild/alienv to manage specific environments (and for the record - we obviously plan to support Python 3 there), alidock is a companion to them

[2018-12-04 12:36] svallero commented on #62
Ok, I see the point. Then it would be great to have python3 support in alibuild/alienv.
For the time being I can build a custom image and pass it to alidock with the --image option. Or do you suggest some better strategy?

[2018-12-04 12:56] dberzano commented on #62
You can build your own container. This of course implies that you are a bit on your own and you stop benefitting from automatic updates.

You can:

* do that, but base your container upon `alisw/alidock`
* or, much better, you install your ML stuff locally (in `/home/alidock`): you don't need to be root to do that

[2018-12-04 12:56] #62 closed, assigned to nobody

[2018-12-04 13:10] svallero commented on #62
The problem is that I need to build ROOT with python3.

[2018-12-04 13:32] dberzano commented on #62
I see, so: is there any chance you can update our alidist recipe for Python in order to use 3.7, and our Python-modules recipe in order to include all the possible ML machinery we need? This would be the one and only solution that fits all use cases 😄

[2018-12-04 16:22] dberzano commented on #62
@ginnocen pointed out that we should user Python 3.6 because of some SciKit compatibility problems.

[2018-12-06 10:45] mconcas commented on #52
Since it will be strictly related to this work, I suggest to add the `/cvmfs` availability/support option to this topic. As we well know, it would require the `shared` bind-propagation flag, and this must be imposed, in order to make it work.
AFAIK, correct me if I'm wrong, no other technology we are supporting in the near future needs for some (more) specific flags.

So, here is my question, do _

[2018-12-11 14:52] pfecchio opened #63 "`.sw` dir content in the wrong place"
I have build the AliPhysics and AliRoot software as described in https://alice-doc.github.io/alice-analysis-tutorial/building/alidock.html. After the build in the `home/alidock/.sw` directory I can't find the `BUILD`, `INSTALLROOT`, `MODULES`, etc. dirs. There is only the `MIRROR` dir.
Looking around I found that the aforementioned directories are actually located in the `/persist/sw` directory th

[2018-12-11 16:23] mconcas commented on #63
Cheers @pfecchio,
Finally, I figured out what is the real problem.

Indeed, this is related to #39, which is a MacOS-only issue.
This is due to the fact we run a full-fledged virtual machines around Docker, and machinery (volumes included) need to run on a Linux host. That's why on native Linux you will not see the following scenario.

The content of the canonical `.sw` directory has been moved to

[2018-12-11 22:06] pfecchio commented on #63
Thanks @mconcas for your reply and for the clarification about this MacOS-only behavior.

[2018-12-11 22:06] #63 closed, assigned to nobody

[2018-12-12 13:12] dberzano opened #64 "Expose additional directories in the container"
One of alidock's driving principles is that there is a single working directory made visible to your container:

    ~/alidock -> /home/alidock

Even though data should be moved to that directory in order to make it visible, there are cases in which this is not feasible - for instance, when data is on one or more external disks.

Directory exposure should be implemented by preventing users from do

[2018-12-12 13:25] rhaake commented on #64
Hi Dario,
  This sounds very good and would allow me to use alidock.
Best,
Ruediger

[2018-12-12 13:58] mconcas commented on #64
I'd prefer, even if it's not very good to see, something that leaves no space to ambiguities, say there are /a/b/c and /e/f/c (I know, is bad looking forl long pathnames 👎):
[code]

Agree.

`alidock -v /my/dir -v /opt/foo -v /tmp/bar -v /opt/bar`

I would not call them volumes, since this messes with the docker syntax, I will stick with the `--expose` option, also for configuration file. What abou

[2018-12-12 14:24] dberzano commented on #64
I would call them volumes for exactly this reason :-) Note that `expose` conflicts with the Docker concept of "exposing" ports. Do we have a third name option that makes everyone happy? 😄

Having the full directory path unwinded is something I consider ugly. I'd stick with my first proposal with some amendments: you can optionally specify the mount label (not path, ever) yourself with:

[code]

an

[2018-12-12 15:47] tariqmahmoud opened #65 "alidock on CentOS"
1) I installed docker on my centos machine (CentOS Linux release 7.6.1810)

 2) I installed alidock via:
bash <(curl -fsSL https://bit.ly/alidock-installer)

3) running alidock: --> error message:
     Creating container, hold on
     Starting a shell into the container
     Cannot continue: cannot find container, maybe it did not start up properly: check log file ~/alidock/.alidock.log for detail

[2018-12-12 16:59] mconcas commented on #65
Hi @tariqmahmoud,

Thanks for your feedback.
Indeed it is weird.
Can you please either attach or link a reference to the logfile: `~/alidock/.alidock.log` ?

Cheers,
Matteo Concas

[2018-12-12 18:37] tariqmahmoud commented on #65
sorry. have forgotten to mention, that i do not find the file!!!! it simply does not exist. That was the first thing i tried.

[2018-12-12 20:47] dberzano commented on #65
Please do:

[code]

and attach the results. Please also run:

[code]

and make sure it's at least 18.

[2018-12-13 09:53] tariqmahmoud commented on #65
[mahmoud@madonna ~]$ docker ps | grep alidock
[mahmoud@madonna ~]$ ls -ld ~/alidock
drwxr-xr-x 2 mahmoud users 144 Dec 12 15:40 /home/mahmoud/alidock
[mahmoud@madonna ~]$ ls -ld ~/alidock/.*
drwxr-xr-x  2 mahmoud users  144 Dec 12 15:40 /home/mahmoud/alidock/.
drwxr-xr-x 49 mahmoud users 4096 Dec 12 13:26 /home/mahmoud/alidock/..
-rw-r--r--  1 mahmoud users   10 Dec 12 15:14 /home/mahmoud/alidock/

[2018-12-13 10:10] dberzano commented on #65
Hi Tariq, can you try to run the container manually and report what happens? Just copy-paste the following:

[code]

In a different shell, run afterwards:

[code]

and send us the output.

Thanks, cheers

[2018-12-13 10:14] dberzano commented on #64
OK, there's convergency of `--mount` as the option, and on adding an extra option to mount the thing in read-only mode (not the default).

The symlink issue: Docker does exactly the right thing. If you mount a symlink to a dir, it's visible as a dir inside. So, no check needed.

[2018-12-13 11:09] tariqmahmoud commented on #65
first:
[mahmoud@madonna ~]$ docker run -it --rm --cap-add SYS_PTRACE --hostname alidock-$UID --name alidock-$UID -p 22 -v $HOME/alidock:/home/alidock:rw alisw/alidock /home/alidock/.alidock-init.sh
/usr/local/bin/entrypoint.sh: line 4: /home/alidock/.alidock-init.sh: Permission denied
/usr/local/bin/entrypoint.sh: line 4: exec: /home/alidock/.alidock-init.sh: cannot execute: Permission denied
[mah

[2018-12-13 11:55] mconcas commented on #65
Hi @tariqmahmoud ,
ok, there are some possibilities that come to my mind:

1) You don't have the `$HOME/alidock` directory
2) You don't have the right permissions on your `$HOME/alidock` (sub-)directories

Can you please check if you are in one of these two cases?

[2018-12-13 11:57] dberzano commented on #65
In addition to what @mconcas said, let me add: are you on your own computer? That user ID (2142) seems pretty high, you may be on a shared installation. The offending script _is_ executable by you:

[code]

Can you run the following command and post us the output?

[code]

Can you please also tell us if your `$HOME` is mounted on a local filesystem, or a shared one (such as a network filesystem?)

[2018-12-13 13:10] tariqmahmoud commented on #65
thanks. I am in a network file-system. Here are the outputs of id $HOME and mount:

[mahmoud@madonna ~]$ id
uid=2142(mahmoud) gid=100(users) groups=100(users),10(wheel),977(docker)
[mahmoud@madonna ~]$ $HOME
bash: /home/mahmoud: Is a directory
[mahmoud@madonna ~]$ mount
sysfs on /sys type sysfs (rw,nosuid,nodev,noexec,relatime)
proc on /proc type proc (rw,nosuid,nodev,noexec,relatime)
devtmpfs on

[2018-12-13 14:52] dberzano commented on #65
@tariqmahmoud running alidock on a network filesystem is not tested, and even if it worked... it's a bit suicidal, given the level of operations we need to perform.

This is the line relevant to your `/home` mount for reference:

[code]

@mconcas: I believe that this can be solved by mounting `/home/alidock` with `shared`, however... do not use a network file system with alidock.

Do you have a lo

[2018-12-13 15:26] tariqmahmoud commented on #65
alidock --shared /localhome/mahmoud/alidock
works.

with
alias alidock='alidock --shared /localhome/mahmoud/alidock'
is even nicer ;-)
thanks @dberzano @mconcas

[2018-12-13 15:32] dberzano commented on #65
OK so final try. Stop alidock:

[code]

Create, once for all, a config file named `~/.alidock-config.yaml` with the following content:

[code]

Test it without any parameter:

[code]

It should work out of the box! Can you confirm it does? Thanks!

[2018-12-13 16:32] tariqmahmoud commented on #65
it works.

[2018-12-13 16:43] mconcas commented on #65
Closing

[2018-12-13 16:43] #65 closed, assigned to nobody

[2018-12-13 23:39] dberzano commented on #52
See #64.

[2018-12-13 23:39] #52 closed, assigned to nobody

[2018-12-13 23:43] dberzano opened #67 "Expose CVMFS inside the container"
As discussed in #64, we'd like to have a `--cvmfs` flag (boolean) automatically mounting the host's `/cvmfs` on the same location inside the container.

Given that `/cvmfs` can be an automount mountpoint, [it should be mounted with the `shared` option](https://docs.docker.com/storage/bind-mounts/#configure-bind-propagation).

This is ~safe for every directory on Linux, but it fails on macOS. There

[2018-12-17 11:28] #64 closed, assigned to nobody

[2018-12-20 10:12] dberzano commented on #64
`~/.alidock-config.yaml`. Write something like:

[code]

[2018-12-20 19:01] mconcas opened #71 "Add image name information in `alidock status`"
It would be really useful to know the name of the image of the running container, especially in those cases where you swap from one host to another with different needs and architectures.

[2019-01-08 13:42] #67 closed, assigned to nobody

[2019-01-09 09:21] dberzano opened #73 "Document configuration file"
alidock supports a configuration file, but this is not documented at the moment. Use cases described in #64 and #67 are better covered by using a configuration file.

[2019-01-10 10:43] rqwa opened #74 "Alidock installation fails on linux"
When I try to install alidock I get the following error. The reason is a symlink from `/home/marco/.virtualenvs/alidock/lib64/python3.6/distutils/__init__.py` to `/usr/lib/python3.6/distutils/__init__py`.
This is a known problem for virtualenv 16.1.0 under linux see https://github.com/pypa/virtualenv/issues/1270.

[code]

If I change the version to 16.0.0 I receive the following error.

[code]

Th

[2019-01-10 11:31] dberzano commented on #74
I see why you can't open a PR 😄 So, what you say is that 16.0.0 works on Linux, but on macOS a newer version is required, right? An OS check would do IMHO for now.

[2019-01-10 12:08] rqwa commented on #74
Using 16.0.0 is a suggested as workaround for linux, but currently I cannot test it, due to the second error.
The folder in the tar archive for 16.0.0 has different name compared to the tar file. This explains the different naming.

[2019-01-10 13:28] dberzano commented on #74
@rqwa can you tell us more to help us reproducing the issue? What is your Linux distribution? Did you install a Python version of your own?

Given that this is a bug and we aim to fix it, you're not prevented from installing alidock by simply using `pip` if you want, in the meanwhile.

[2019-01-10 13:29] dberzano commented on #74
Also: I see that version 16.2.0 is out, would it maybe fix the problem for everybody?

[2019-01-10 14:08] dberzano commented on #74
@rqwa you can try the bash + curl command now to see if it works for you.

[2019-01-10 14:22] rqwa commented on #74
bash + curl command still fails.
I run sabayon linux and only use the python version provided by the system, currently 3.6.
I tested it on our university system with centOS 7 and python2.7.5, where it worked as suggested.
There is a bug report about the same issue on ubuntu 18.04 in pypa/pipenv#3395.
The difference between the two systems is that on sabayon there is a symlink from `/home/marco/.vi

[2019-01-10 14:33] dberzano commented on #74
OK, I see. This is a problem that has to be solved on the virtualenv's side, somehow.

For me, I have just tried using 16.0.0 and it works, both on all my Linux versions and my latest macOS. Can you elaborate on your sentence:

It _seems_ to be working for me as said, but maybe I am overlooking something. Was this problem only related to the bad autodetection of `virtualenv.py` (which I fixed in #

[2019-01-10 14:53] rqwa commented on #74
The sentence comes from a comment, in the discussion of the virtualenv issue, where it is mentioned that the bug was introduced during a macOS fix. So I may over-interpreted it, sorry for that.

[2019-01-10 14:57] dberzano commented on #74
I actually saw the comment after writing mine, sorry for overlooking it. I am changing the version conditionally, to be on the safe side.

[2019-01-10 15:05] dberzano commented on #74
@rqwa can you try #76? It is sufficient do do:

[code]

[2019-01-10 15:05] #71 closed, assigned to nobody

[2019-01-10 15:22] rqwa commented on #74
This works without problems.

[2019-01-10 15:23] dberzano commented on #74
Merged upstream. You can install using the standard bash+curl command from the main page. Thanks for reporting and for your patience!

[2019-01-10 15:23] #74 closed, assigned to dberzano

[2019-01-17 16:57] rqwa opened #77 "Cannot load environment in zsh"
After switching to zsh, AliPhysics cannot be loaded successfully. Are there any adoptions needed, to use zsh?
[code]

[2019-01-17 22:25] dberzano commented on #77
Hi @rqwa, `alidock` comes with bash and it's supposed to work with it. The general workflow idea is that your editor/git operations/etc. are performed _outside_ alidock, where you choose the shell you want. The environment, installed packages, choice of shell, etc. are deliberately kept restricted in order to maintain the work environment as uniform as possible.

I am also wondering how you "switc

[2019-01-18 11:27] javierecc commented on #73
Hi,
Sorry, by going trough the other issues it was not clear to me.
Is the mounting of cvmfs (on mac) working? The proposed --cvmfs flag is not yet in a release. Using a configuration file will work for that?
Thanks,
Javier

[2019-01-18 13:46] mconcas commented on #73
Hi @javierecc ,
usually new features to the configuration and the `--xyz` flags goes together.
Yes, you are right, the upstream latest version does not have the `--cvmfs` option yet, changing configuration will not help, sorry.

We will publish it soon.

[2019-01-23 16:19] dberzano commented on #56
Guys you persuaded me that a time bomb is not the way to go. I am closing this ticket. I think (you might object on that) that an on-screen warning, advising users to "run `alidock stop && alidock` because there may be updates available, is a good compromise that still lets users in charge.

[2019-01-23 16:19] #56 closed, assigned to nobody

[2019-01-23 16:27] dberzano opened #78 "Support Windows"
Since [Docker for Windows](https://docs.docker.com/docker-for-windows/install/) is available, it would be very good if we could support it.

As per their documentation, only "Windows 10 64bit: Pro, Enterprise or Education (1607 Anniversary Update, Build 14393 or later)" are supported, so: Home won't work. It's a limitation but oh well.

Instructions should advise users to enable virtualization in

[2019-01-28 10:54] rqwa commented on #77
Yes, I just launched `zsh` from bash. I didn't run `chsh` or used root access.
As I'm only want to use two features from zsh it maybe easier to look, if I can implement them in my `.bashrc`.

[2019-01-28 14:12] gluparel opened #79 "Error installing alidock on Linux"
Hello,

when I try to install alidock on Linux I get this error message:

~$ bash <(curl -fsSL https://bit.ly/alidock-installer)
Checking if your Docker installation works
Creating an environment for alidock using Python 3.6.7 (python3) and virtualenv 16.0.0
+ python3 pypa-virtualenv-3cd7cfe/virtualenv.py
/home/grazia/.virtualenvs/alidock
Traceback (most recent call last):
   File "pypa-virtualenv

[2019-01-28 15:55] dberzano commented on #79
Can you provide us with more information about your system? Is it Ubuntu 18.04? Are ALL of the OS updates installed?

Is the problem fixed by running:

[code]

[2019-01-28 16:26] dberzano commented on #78
An installation procedure is being investigated - there are several ways of getting Python on Windows 10, and at least four shells (the command prompt, PowerShell, Cygwin's bash and WSL's bash).

At the moment, it seems that the `console_scripts` part was a winning approach: it correctly generates `alidock.exe` available in your path, whatever shell you use (the aim is to make it work with the def

[2019-01-29 09:20] gluparel commented on #79
Thanks a lot for the suggestion!
I am using Linux Mint 19.
Indeed the problem can be easily fixed by installing python3-distutils.

I think that the issue can be closed. Many thanks again!

[2019-01-29 09:23] dberzano commented on #79
Thanks for reporting.

@mconcas do you have any further comment on this issue? `python3-distutils` is, apparently, not installed by default on Ubuntu. Maybe we should perform some detection and warn the user when this happens?

Detection is as easy as `python -c 'import distutils'` for the record.

[2019-01-29 10:22] dberzano commented on #77
OK I am closing this ticket then, but if you feel those features may be useful to others, don't hesitate to open a PR here 🙂

[2019-01-29 10:22] #77 closed, assigned to rqwa

[2019-01-29 13:49] #79 closed, assigned to nobody

[2019-02-05 11:17] dberzano opened #82 "alidock ignores --name in status, stop"

[2019-02-05 11:35] fkellere opened #83 "alidock docker error"
Hello,
when typing "alidock" for the first time after a seemingly successful installation, I got the following response:
Creating container, hold on
Docker error: 404 Client Error: Not Found ("no such image: alisw/alidock:latest: No such image: alisw/alidock:latest")
Some details: I have an earlier installation of aliBuild, I migrated the MIRROR to ~/alidock/.sw/. I am using linux with ubuntu. Cou

[2019-02-05 11:45] mconcas commented on #83
Hi Fabian,
could you please provide us some further information?
I am, in particular, interested in:
 - `docker info`
 - `alidock --version`
 - `cat $HOME/alidock/.alidock.log`

Thanks, and cheers

[2019-02-05 11:53] fkellere commented on #83
docker info

Containers: 4
 Running: 0
 Paused: 0
 Stopped: 4
Images: 1
Server Version: 18.09.1
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host macvlan null overlay
 Log: awslogs fluentd gcplogs gelf journald json-file local logentries splunk syslog

[2019-02-05 11:53] fkellere commented on #83
alidock --version

alidock 1.4.0

[2019-02-05 11:55] fkellere commented on #83
$HOME/alidock/.alidock.log doesnt exist, however I have $HOME/alidock/.alidock-host.log, which just contains: "+ cd /"

[2019-02-05 12:20] fkellere commented on #83
My bad, I'm of course using CentOS, not ubuntu

[2019-02-05 13:55] mconcas commented on #83
What does `docker pull alisw/alidock:latest` return?

[2019-02-05 14:10] dberzano opened #84 "Do not recreate SSH keys if already there"
alidock creates new SSH keypairs at every new container start. Let's see the following situation:

[code]

_Two_ new containers will be created, but - lacking a different configuration for the base directory - the second container creation will overwrite the SSH pairs created by the first.

After #81, authorized keys are moved _outside_ the shared directory, therefore the second command effectivel

[2019-02-05 14:13] fkellere commented on #83
latest: Pulling from alisw/alidock
aeb7866da422: Pull complete
e0669f14a876: Extracting [==================================================>]  735.9MB/735.9MB
103196123059: Download complete
d376032022b8: Download complete
49802bb1911b: Download complete
9f94c045fefe: Download complete
058cf59c06ab: Download complete
b7e1a50ec86d: Download complete
failed to register layer: Error processing tar fi

[2019-02-05 14:24] mconcas commented on #83
It looks like your disk is full.
What is the output of `df -h`?.
Can you try to free some space?
Then please try again both `docker pull alisw/alidock:latest` and, if it succeeds, type `alidock`.
Please post output if it is not fixing.

[2019-02-05 14:49] fkellere commented on #83
I am working on a remote SSH server, I should have around 29GB left on my quota. Its not that trivial to get more space if this is not enough but I will try and let you know.

[2019-02-05 15:16] mconcas commented on #83
It means that Docker is saving the images and the running containers on this system directory.
Most likely it is the system that is running out of memory, not your quota.
Can you please post the output of `df -h`?

[2019-02-05 15:19] fkellere commented on #83
[code]

[2019-02-05 15:34] mconcas commented on #83
Ok, that could be the problem.
My advice is to contact the administrator of the server and ask for some space for your containers (10GB for `/var/`is going to saturate eventually very soon, if your docker is configured to work there... :sob: ).
The fully unpacked `alisw/alidock` image is 2.19GB but notice that Docker needs at least double of the space to unpack it, every time you pull it.

For the

[2019-02-05 15:34] #83 closed, assigned to nobody

[2019-02-05 15:37] mconcas opened #85 "Ping"

[2019-02-05 15:37] mconcas commented on #85
dfg

[2019-02-05 15:37] #85 closed, assigned to nobody

[2019-02-05 15:43] mconcas opened #86 "Functional and unit tests"
For Linux, MacOS aaaand... Windows

[2019-02-05 15:48] #78 closed, assigned to nobody

[2019-02-07 14:22] dberzano commented on #82
Steps to reproduce:

[code]

So far so good.

[code]

The container is still running.

[code]

The container is shown as not running.

[2019-02-07 14:31] dberzano commented on #82
OK, no, it's not a problem. It's the way arguments are parsed. The following correctly works:

[code]

Closing.

[2019-02-07 14:31] #82 closed, assigned to nobody

[2019-02-07 16:59] #84 closed, assigned to nobody

[2019-02-13 08:32] dberzano opened #90 "Add shortcut to pip packages in an alienv environment"
@mpuccio

[2019-02-15 12:45] samperumal opened #93 "Windows specific path issues"
Following #78 I've been using AliDock on Docker for Windows quite successfully (thanks for this!), but have also encountered a couple issues related to paths, specifically:

 * The --mount flag uses os.path.join to create the internal mount point in the container, when it should be using posixpath.
 * The .yaml config file path gets confused between forward and back slashes when expanding "~/.alid

[2019-02-15 13:42] dberzano commented on #93
Thanks! We've accepted your PR.

[2019-02-15 13:42] #93 closed, assigned to nobody

[2019-02-15 15:56] mconcas commented on #86
We want to test:
**Installation**
- [ ] Linux
- [ ] MacOS
- [ ] Win

**Commands**
 - [ ] `enter, root, exec, start, status, stop`
 - [ ] Management by name (more than one container running)

**Configuration param & conf-file**
 - [ ] Custom image
 - [ ] External mounts
 - [ ] CVMFS
 - [ ] Configuration override

**Coverage**
 - [ ] CodeCov :question:

**Hardcore Tests  :skull_and_crossbones:**
 -

[2019-02-15 16:08] dberzano commented on #86
Coverage. Let's not forget coverage!

[2019-02-19 16:33] dberzano opened #96 "alidock fails if custom image is retagged while running"
Reproduce like this.

a) Start a new container with a custom image:

[code]

b) Retag, for instance:

[code]

c) Run alidock:

[code]

Result:

[code]

[2019-02-19 16:55] #96 closed, assigned to nobody

[2019-02-26 15:27] svallero opened #100 "tk install for ML modules?"
Would it be possible to yum install tk-devel which is needed by ML modules at runtime?

[2019-02-26 15:48] mconcas commented on #100
Hi @svallero ,
Did you try: `alidock root` and `yum install tk-devel` already?

[2019-02-26 17:19] svallero commented on #100
Ciao,
yes and it works fine. The idea is to have the ML framework run smoothly on Alidock using the Alibuild system, without asking the user to install stuff.
Or one should also use a recipe for system libs?

[2019-02-26 23:51] mconcas commented on #100
Ok, I see what you mean.

The base image used for alidock is the same used for the CI, plus few amenities to make it usable by humans.
I think (@dberzano can confirm) that the best solution is to keep it 'as it is' .
As we saw in the past it happens that alibuild packages can mess up with system/alternative installations of the same package.
Indeed, you could also write a recipe for aliBuild (!!),

[2019-02-28 00:01] samperumal commented on #86
Is there a specific unit testing framework you intend using?

[2019-02-28 09:08] mconcas commented on #86
Hi @samperumal ,
we didn't discuss it yet. We have some options, coming from previous know-how.
If you have any suggestion, it is welcome to be considered.

Cheers

[2019-02-28 13:10] samperumal commented on #86
I don't have any experience with Python Unit testing specifically (I'm more in the C# space), so I'm happy to follow your lead. My dev platform at the moment is docker on windows, so happy to contribute in that space where I can.

[2019-03-04 10:57] mconcas opened #101 "Provide a script to uninstall alidock"
Ok, this is something we would not like to see, but...

 - It should be as easy as installing it.
 - we should provide some pointer in the documentation to some kind of uninstall procedure for docker as well.

[2019-03-05 13:15] mconcas opened #102 "allow for connecting to container using password"
This is something we can discuss.

There are some cases where one could need to connect some external tool via SSH (e.g. [nsight-system](https://developer.nvidia.com/nsight-systems)).
Our `sshd` configuration denies it, which since now I would have agreed to.

Well, it looks like they don't currently support ssh using pubkeys (their fault, I know).

My proposal is to leave user's password unset (t

[2019-03-06 09:55] #102 closed, assigned to nobody

[2019-03-06 11:49] pachmay opened #103 "load ALIROOT/ALIPHYSICS environment outside alidocker"
Hi Dario,

it possible to like in the past simply load the environment, without entering alidocker and to execute my macros? Or do I have to delete my alidocker installation and go back to aliBuild?

Ciao
Yvonne

[2019-03-06 13:00] dberzano commented on #103
Hello @pachmay, I am not sure I understand the issue here. You either use `alidock`, or you don't. Think of it: you are asking, on the alidock support channel, how to **not** use it.

alidock is the recommended way because the runtime environment is known and support is easier for you.

Closing; feel free to open a new issue if you have problems/questions _concerning using alidock_ 😄

[2019-03-06 13:00] #103 closed, assigned to nobody

[2019-03-06 16:53] dberzano commented on #101
Basically to uninstall alidock you need to do `pip uninstall` if installed manually - or, you need to remove completely your `alidock` virtualenv. We can go further and remove any reference to `alidock` to any shell script if you want.

First step is, in any case:

[code]

and that's it. I would document it rather than scripting it 😄 How would you do it?

[2019-03-07 17:07] mconcas opened #105 "Fix red tests: PyLint 2.3.1"
New pull requests started to fail, due to the PyLint test.

Last time it succeeded:
 - PyLint version: 2.2.2 #99 see also [travis](https://travis-ci.com/dberzano/alidock/jobs/180087009)

First time it failed:
 - PyLint version: 2.3.1 #91 see also [travis](https://travis-ci.com/dberzano/alidock/jobs/183080988)

[PyLint changelog](http://pylint.pycqa.org/en/stable/whatsnew/changelog.html)

[UPDATE]

[2019-03-07 21:39] dberzano commented on #105
It has to be noted that #91 has pylint 1.9.4 in the Python 2.7 test. Also, PyCQA/pylint#2605 refers to an issue with pylint 2.1.1. Still, as discussed today, I think we're right saying this is a pylint "bug".

[2019-03-07 21:59] dberzano commented on #105
OK here's a short reproducer:

[code]

Works with pylint 2.2.3. Breaks with pylint 2.3.0, with error:

[code]

It tracks the life of the `exc` variable. It sees it's an `Exception`, and, in spite of it becoming an `OSError` later, the check still thinks it's the former type and complains about the missing member.

[2019-03-07 23:40] dberzano commented on #90
Or maybe let's not do this. I would close this. @mconcas any thoughts?

[2019-03-08 09:20] #105 closed, assigned to nobody

[2019-03-08 09:31] #90 closed, assigned to nobody

[2019-03-08 09:52] mconcas commented on #100
Hi @svallero,
Wrapping it up:
- We would like to keep the base image as is, for general purpose cases
- Nevertheless people are encouraged to develop their own images, based on the alisw/alidock one
- Possibly we are evaluating the idea to open :soon: :tm: another repository to host _essentials_, that is community supported Dockerfiles, with automatic image publication on some registry (most likel

[2019-03-08 09:52] #100 closed, assigned to nobody

[2019-03-08 16:34] dberzano opened #107 "Move to alidock organization"
- [ ] Nice logo for [the alidock org](https://github.com/alidock/)
- [x] Move project there
- [ ] Create alidock account on PyPi and transfer project there
- [x] Create Docker Hub org
- [x] Move default container pull from the new Docker Hub org

[2019-03-11 13:56] dberzano opened #109 "Restore old virtualenv at install time if update fails"
Currently, `alidock-installer.sh` may destroy the current `alidock` virtualenv without being able to create a new one afterwards.

In case this happens for whatever reason, the old virtualenv should be first backed up then restored, and deleted only if update succeeds.

[2019-03-11 13:58] dberzano commented on #86
Let's add some ingredients:

* Run some OS-specific functional tests on Docker on Travis
* Expose the Travis Docker socket inside our container
* Run unit tests as well by mocking the Docker API and the call to SSH

[2019-03-19 23:26] dberzano opened #110 "Embed a web-based X11 server"
Have something that gives the ability to use a web browser to access the container's X11. Useful for the following cases:

* Quick demonstrator: does not require X11 to be installed/running on the system to show results/bugs to new/occasional users. X11 requires extra packages on Windows and macOS.
* Because we can and it's cool to have everything embedded

The procedure was tested and it is incre

[2019-03-20 16:29] dberzano opened #112 "Clarify what switches are not effective when container's already running"
For instance: `--cvmfs` makes sense only when booting up the container. If one boots alidock without, and then enters a new shell with the switch, the switch is, at the moment, ineffective, and no message is printed. This is confusing.

[2019-03-20 19:14] #110 closed, assigned to nobody

[2019-03-21 19:11] mconcas opened #113 "Make error message more meaningful when prerequisites are not satisfied"
To reproduce it just install older docker version (e.g. 1.13) and see that you cannot start a container. You will get something like:

[code]
Logfile is indeed not present. I had to guess something related to docker version.

[2019-03-27 08:52] dberzano opened #115 "Fix building of intermediate containers in C.I."
It only worked by chance because Travis CI does not expose secrets (rightfully!) to PR tests coming from forks.

[2019-03-27 09:15] dberzano opened #116 "Add ROCm as --rocm"
Also use `posixpath` to detect the proper character device.

[2019-03-27 09:17] dberzano opened #117 "Enable named configuration sets"
Have sections in config file. This would enable switching between containers by simply using the `--name` switch.

[2019-03-27 10:44] mconcas commented on #117
We must take into account that:
1.  maybe the `--name` parameter is not the best, think about the difference between a container image and the container instance.
If I launch something custom, let's say: `alidock --cvmfs --nvidia --rocm --name <name> --image <image>`. It would add an entry in the configuration file that stores my config parameters under the key `<name>`.
What if I stop the contain

[2019-03-27 11:17] dberzano commented on #117
Config must be backwards-compatible. So whatever we have in current config, is the "default". Named configurations can go in a separate toplevel key (this is so Kubernetes).

For instance:

[code]

Now the default part will correspond to `--name alidock`. We should obviously remove the ability to specify the container name through `dockName` though.

[2019-03-28 10:21] dberzano opened #118 "alidock --mount / overrides /mnt in the container"
This is bad, `/` should be assigned a default label.

[2019-04-05 10:03] dberzano opened #121 "Automatic installer should not use Python from virtualenv"
When self-updating, the automatic installer should not attempt to use Python from the virtualenv. If in a virtualenv, it should deactivate it first.

[2019-04-25 16:30] fweig opened #122 "Connecting to container fails when user has too many ssh-keys installed"
`alidock enter` fails when too many ssh-keys are installed. In that case ssh exits with the following error:
``` Received disconnect from 127.0.0.1 port 32774:2: Too many authentication failures ```

This can be solved by calling ssh with `-o IdentitiesOnly=yes`.

A nice addition would be if alidock would print ssh errors instead of failing silently when connecting to the container fails. So this

[2019-04-28 10:20] mconcas opened #123 "alidock fails due to invalid username"
Sometimes users may have numeric-only usernames on hosts not owned by them.
Apparently, macOS systems allows for that, I suspect together with some other ID management systems. (as a side note: you cannot create a numeric-only username with canonical procedure on a mac)

`useradd` does not allow for creation of usernames with numbers. Below is reported a log got by a user.

[code]
At glance it doe

[2019-04-30 09:12] #123 closed, assigned to nobody

[2019-04-30 09:15] dberzano commented on #115
Containers are now built by the alidock/alipier project.

[2019-04-30 09:15] #115 closed, assigned to nobody

[2019-04-30 11:47] #122 closed, assigned to dberzano

[2019-05-03 09:12] mconcas opened #127 "[Enhancement/Upgrade] system-wide alidock for shared HPC nodes"
Ok, you know I like to come back to this topic form time to time.
I am looking to a solution for those environments where you would like to provide people an alidock experience, without giving them the dangerous access to the Docker daemon.

A system-wide installation would provide:
 - specific no-login user to run as (alidock ∈ docker)
 - configurable config file for each user
 - check on permiss

[2019-05-14 09:08] #121 closed, assigned to nobody

[2019-05-14 16:15] #113 closed, assigned to nobody

[2019-05-14 16:15] #118 closed, assigned to nobody

[2019-05-15 07:56] #109 closed, assigned to nobody

[2019-05-16 08:52] #116 closed, assigned to mconcas

[2019-06-10 11:15] pkurash opened #136 "No network inside alidock"
Hello,

I can not access network from the alidock:

[alidock] ~ $> ping www.cern.ch
ping: www.cern.ch: Name or service not known

The same with ssh and alien-token-init commands.

The /etc/resolv.conf file inside the docker is different from that of the host system:

I tried to edit this and some other configuration files but the network is still not accessible and the edited content is obliterate

[2019-06-11 10:17] mconcas commented on #136
Hello @pkurash,
that custom configuration in the `resolv.conf` is indeed created at the container startup, to ensure fixing some DNS misconfiguration in your docker installation. It essentially performs a test on your container connection and defaults to a cloudflared-based solution in case it cannot resolve the www.google.com address.

So, it either looks like you are offline or inside a network

[2019-06-11 17:34] pkurash commented on #136
Hello Matteo,

Thank you for your answer.

All sites of interest are accessible from my network, I am able to connect to CERN and submit my commits to GitHub.
Please find the outputs of the suggested commands in the attachments:
[1.txt](https://github.com/alidock/alidock/files/3277777/1.txt)
[2.txt](https://github.com/alidock/alidock/files/3277778/2.txt)

Best regards,
Podist

[2019-06-13 08:02] mconcas commented on #136
Hello @pkurash , sorry for late reply.
Well, good news is that it is apparently not an alidock bug.
Bad news is that most likely your docker installation is missing something.

Assuming you are admin of the machine you are using, to better understand what might be the cause of your problem, I need to know few more details:

1. are you in a network with its own DNS server? Can you please report me

[2019-06-13 10:30] pkurash commented on #136
Good afternoon,

Surprisingly enough the contents of /etc/resolv.conf file inside docker is the same as that of the system:

[code]

But the command apt update still is still failing.

The computer is connected to the router of a home network with the same DNS at in the second line of the conf file and it has been working fine before. I also tried other networks but it did not work.

I have instal

[2019-06-13 11:59] mconcas commented on #136
Good afternoon,
ok, not really a surprise, since Docker usually copies the resolv.conf on the host to the containers. It means it is working correctly. In alidock you see the different resolv.conf because of the adoption of cloudflare to address issues with name resolution, but usally you would see the same resolv.conf.

My suspects are now directed on the docker installation on a Gentoo-based OS.

[2019-06-19 15:12] #112 closed, assigned to nobody

[2019-06-19 16:23] dberzano commented on #73
Fixed in #138.

[2019-06-19 16:23] #73 closed, assigned to nobody

[2019-06-19 19:35] pkurash commented on #136
Hello again,

After studying the docker documentation and much googling I encountered the following [solution](https://stackoverflow.com/questions/51752597/docker-container-can-t-connect-to-internet): insert option '-net=host' so the full command is:

`docker run -it --net=host --rm ubuntu:latest bash `

which is working for me and now I am able to connect to fetch updates inside the Ubuntu contai

[2019-06-20 09:00] mconcas commented on #136
Hello,

it is not possible and will likely not be in the foreseeable future to make alidock containers to share the network stack with the host (that is what  `--net=host` does, and it's not recommended for security reasons).

Docker needs to be allowed to have IP forwarding configured properly, in order to make its private networks and virtual network interface to access the internet in a canonic

[2019-06-20 09:22] pkurash commented on #136
Hello,

The file /etc/systemd/network/50-static.network was not present by default, I activated systemd-networkd and created the file it by hand as explained [here](https://wiki.gentoo.org/wiki/Docker#systemd-networkd):

[code]
I also attach the contents of ifconfig command
[ifconfig.log](https://github.com/alidock/alidock/files/3309715/ifconfig.log)

Regards,
Podist

[2019-06-20 10:02] mconcas commented on #136
Ok, let's try to edit it in order to match the wireless network interface you are using:
change the `enp6s0`  into `wlp2s0`
then give:
`systemctl daemon-reload`
then restart the docker daemon:
`systemctl restart docker` or `service docker restart`

and see if now it works.
Regards,
Matteo

[2019-06-20 10:25] pkurash commented on #136
Unfortunately it did not work.

Please also find the outpus of the commands:
[code]
and
`sysctl -a | grep -i net` (attachment)

[systctl.log](https://github.com/alidock/alidock/files/3309930/systctl.log)

Is something wrong in it?

Best regards,
Podist

[2019-06-21 06:32] bovulpes opened #139 "O2 build blocks at HepMC3"
Hello,

A fresh build from yesterday stops at HepMC3 but without producing the log file:

==> Building HepMC3@v3.0.0-git_d43693ce0e
==> HepMC3 is being built (use --debug for full output): failed
ERROR: Error while executing /home/alidock/.sw/SPECS/slc7_x86-64/HepMC3/v3.0.0-git_d43693ce0e-33/build.sh on `alidock-1000'.
ERROR: Log can be found in /home/alidock/.sw/BUILD/HepMC3-latest/log.
ERROR: Pl

[2019-06-25 05:47] #139 closed, assigned to nobody

[2019-07-01 08:13] dberzano commented on #136
Hi @pkurash, is there any update on this? We're kindly helping, but this is really a Docker/Sabayon configuration problem, which has little to do with alidock. We'd like to see if we can fix it together 🙂

[2019-07-01 08:24] pkurash commented on #136
Hello Dario,

I installed fresh Sabayon image on a virtual machine, the alidock worked fine from the beginning but after docker and systemd updates it resulted at the same trouble.

As I concluded this is a bridge problem which needs a special fix on my system.

I addressed the docker people opening a topic on the forum asking for help, hope they will help me to find the reason.

Regards,
Podist

[2019-07-01 08:26] dberzano commented on #136
Good to hear that! Do you think we can close the ticket? Thanks!

[2019-07-01 08:33] pkurash commented on #136
OK, we can close close the ticket for now.
Regards,
Podist

[2019-07-01 08:33] #136 closed, assigned to nobody

[2019-07-02 23:25] adriansev opened #140 "automatically discover host cvmfs"
Would be great if the building step within container can be skipped by the usage of host cvmfs.
alidock could gain argument(s) that would be be passed to alienv inside the container for loading cvmfs packages

[2019-07-25 17:48] mconcas commented on #140
Hi @adriansev , alidock has already the `--cvmfs` flag to expose CVMFS inside.
Plus, if you use the default build cc7-base, you can already benefit of pre-compiled packages to be downloaded (alibuild's merit). I might be missing your point but I think it is not really related to alidock itself.
Feel free to re-open the issue, in case I am wrong.

[2019-07-25 17:48] #140 closed, assigned to nobody

[2019-08-28 14:24] danielleturvill opened #143 "Error while trying to use alidock (Docker method): Cannot continue: the host initialization script failed, check ~/alidock/.alidock-host.log"

[2019-08-28 14:28] danielleturvill commented on #143
Docker version is 19.03.1

drwxr-xr-x@ 14 danielleturvill  staff   448 28 Aug 15:20 /Users/danielleturvill/alidock/.
drwxr-xr-x+ 54 danielleturvill  staff  1728 28 Aug 15:04 /Users/danielleturvill/alidock/..
-rw-r--r--   1 danielleturvill  staff   451 28 Aug 15:18 /Users/danielleturvill/alidock/.alidock-host.log
-rwx------   1 danielleturvill  staff  1161 28 Aug 15:18 /Users/danielleturvill/alidoc

[2019-09-02 10:35] mconcas commented on #143
Hello, thanks for posting.
Could you please send the content of:

- /Users/danielleturvill/alidock/.alidock-host.log
- /Users/danielleturvill/alidock/.alidock-init-host.sh
- /Users/danielleturvill/alidock/.alidock.log

Cheers,
Matteo

[2019-09-10 19:13] danielleturvill commented on #143
Hi Matteo,

It seems it may be a Python problem but I can't find a clear solution.
Here are the contents you requested (in order):

**1.**
[code]

**2.**
[code]

**3.**
There is no content.

The alternative error I get shows up as (w.r.t. the alidock-host.log):

[code]

Thank you so much for your time.

Many thanks,
Danielle.

[2019-09-10 19:13] danielleturvill commented on #143
Hi Matteo,

It seems it may be a Python problem but I can't find a clear solution.
Here are the contents you requested (in order):

**1.**
+ cd /
+ [[ -d /Users/danielleturvill/alidock/.sw ]]
+ [[ ! -L /Users/danielleturvill/alidock/.sw ]]
+ [[ ! -e /Users/danielleturvill/alidock/.sw.noindex ]]
+ [[ ! -e /Users/danielleturvill/alidock/.sw ]]
+ tmutil addexclusion /Users/danielleturvill/alidock/.sw

[2019-09-26 09:59] EmilGorm opened #144 "Error while trying to use/install alidock: Warning: Identity file /home/emil/alidock/.alidock-ssh/alidock.pem not accessible: No such file or directory."
Hi,

I have installed docker on my laptop, and it runs successfully.
I then installed alidock using

which also seems to run. But when i try to run alidock afterwards I get an error

  Starting a shell into the container
  Warning: Identity file /home/emil/alidock/.alidock-ssh/alidock.pem not accessible: No such file
  or directory

I have linked the .globus directory in ~ with ~/alidock/.globus a

[2019-09-26 10:33] dberzano commented on #144
Hello Emil, the error is unrelated to your Grid certificate. Can you please do:

[code]

so that we can verify the permissions?

I'd say a possible solution is to completely remove the `~/alidock` directory (assuming you have nothing important inside):

[code]

then install alidock:

[code]

then follow [this guide](https://alice-doc.github.io/alice-analysis-tutorial/start/cert.html) for obtaining

[2019-09-26 10:49] dberzano commented on #143
Hi Danielle, sorry for overlooking the issue. I'd start with opening a shell, and checking some basic facts.

a) `xattr` is a basic MacOS command. It is available with every MacOS version. Incidentally, it's written in Python and it's supposed to run with the default Python version shipped with MacOS. Did you install any custom Python version that may impair the use of `xattr`? What happens if you

[2019-09-26 11:08] dturvill commented on #143
Hello Dario,

No need to apologise! I wiped my Mac and reinstalled everything I needed. The problem was resolved after doing this. It is most likely that there was a clash with Python installations.

Thank you for your post.
Just in case it is helpful for you to know, I had carried out the steps you've outlined. I cannot remember what was output when I typed xattr. However, I did have Python 3 and

[2019-09-26 11:37] EmilGorm commented on #144
Hi,
When doing

 total 0

 total 12
drwxr-xr-x  2 emil docker 4096 Sep 26 13:33 .
drwxr-xr-x 35 emil emil   4096 Sep 26 13:33 ..
-rw-r--r--  1 emil docker   10 Sep 26 13:33 .alidock_pip_check

I have already tried removing an reinstalling alidock with the same results

[2019-09-26 12:12] dberzano commented on #143
OK thanks for confirming that it works now, and it was effectively a problem with your Python installation. I am closing this issue, feel free to open a new one in case of further troubles!

[2019-09-26 12:13] #143 closed, assigned to dberzano

[2019-09-26 12:22] dberzano commented on #144
Hi, let's try then with:

[code]

Can you also attach the `~/alidock/.alidock-host.log` file?

[2019-09-26 12:26] EmilGorm commented on #144
I get

drwxr-xr-x 2 emil docker 4096 Sep 26 14:23 /home/emil/alidock/

There is no .alidock-host.log file. The only file in the ~/alidock/ repository seems to be .alidock_pip_check

[2019-09-27 10:09] dberzano commented on #144
OK, so I have started a fresh Ubuntu 18.04 installation, [installed Docker 19.03.2](https://docs.docker.com/install/linux/docker-ce/ubuntu/), installed alidock using the one-liner above, and I cannot reproduce your problem at all. It just works perfectly as expected.

What happens in your case is that alidock does not write the required startup files inside the `~/alidock` directory.

Do you have,

[2019-09-27 10:24] dberzano commented on #144
Please also post the output of `docker ps`.

[2019-09-30 07:12] EmilGorm commented on #144
Hi,

I did a completely fresh install of docker, alidock and all prerequisites and it fixed the issue.
Must have been something with docker even though it ran.

Thank you for your time

[2019-09-30 07:12] #144 closed, assigned to nobody

[2019-09-30 07:12] dberzano commented on #144
Very good, thanks!

[2019-10-23 13:39] #127 closed, assigned to nobody

[2019-11-27 13:50] zsaldic commented on #40
Dear @dberzano,

I am interested in using jupyter notebook inside alidock, but none of the suggested solutions worked me. Here is a summary of what I tried to do:

Inside an `alidock` container  I enter an alienviroment as usual.
`$> jupyter notebook` returns the traceback

[code]

Whereas;

`$> jupyter notebook --ip=0.0.0`

returns

[code]

X11 opens up, but no sign of a jupyter notebook in a bro

[2020-02-05 10:08] mconcas opened #145 "Use custom container with alidock"
This is not really an issue, it is just to continue the thread on the alice-analysis-taskforce.
So, it is possible to use the another container with alidock.

In case it is published on docker-hub you can tell alidock to use it by creating a configuration file in your home called: `.alidock-config.yaml`

[code]
Custom containers can be derived directly using the alidock one as a base in order to h

[2020-02-05 14:29] bovulpes commented on #145
To create a local new tag of the alidock image with stuff added by you do this:

first check with

that the started container is indeed named "alidock-1000"

If you want to upload it on docker hub, if you already have an account there, create a new repository after logging on hub.docker.com let's say your-docker-id/your-alidock

Then, on you local machine first login with

then tag the recently co

[2020-02-05 14:52] mconcas commented on #145
Dear @bovulpes , you can also create a Dockerfile that includes all your additions, than you build it and push, without involving an interactive shell in alidock.

Dockerfile should look like:
[code]
then you build and tag it with:
[code]

And then:
[code]

more details here: [Dockerfile](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/)

[2020-02-05 15:02] bovulpes commented on #145
Thanks @mconcas the more solutions the better! For larger modifications I also use your method.

[2020-02-05 15:13] mconcas commented on #145
Ok, then I am closing this to but it still remains as a reference to the link posted in the mailing list.
Feel free to reopen this in case of further details/issues.

Cheers

[2020-02-05 16:21] maireiphc commented on #145
Hi Matteo,

   sorry, I am lost. I do not know exactly what is finally the advised way to proceed to install extra packages (latex suite, in my case). I understand that I need to touch and tamper with the Dockerfile, but from where should I start ?

My knowledge starts/stops with the installation command :
bash <(curl -fsSL https://raw.githubusercontent.com/alidock/alidock/master/alidock-installer

[2020-02-05 16:39] mconcas commented on #145
No problem.
can you give me the command you use to install the missing packages?
I will write a Docker file you can use to build your container and as example for future edits.

Cheers

[2020-02-06 10:44] maireiphc commented on #145
Hello Matteo,
It is taking longer than I thought to make it working. Currently facing font troubles once the first texlive packages are installed. Coming back to you here where the issue is solved to have a fully working example.

[2020-02-10 14:00] zsaldic opened #146 "jupyter notebook not working in alidock"
I am interested in using jupyter notebook inside alidock.

Inside an `alidock` container  I enter an alienviroment as usual.

`$> jupyter notebook` returns the traceback

[code]

Whereas;

`$> jupyter notebook --ip=0.0.0`

returns

[code]

X11 opens up, but no sign of a jupyter notebook in a browser.
Any suggestions to how to make jupyter notebook work inside an alidock enviroment?

Best Regards,

[2020-02-11 07:53] maireiphc commented on #145
Hi Matteo,

  I have apparently a set of CentOS7 packages that seems to be working.
I had issues to find relsize.sty from LaTeX; I needed to install it by hand at the end of the day.

I tried to keep the list minimalist, but ok, there are maybe redundancies.
It will be about (25+148 sub-dependency) packages to be installed  + 1 upgrade, = 135 MB

[code]

Cheers, Antonin

[2020-02-11 09:08] mconcas commented on #145
Hi Antonin,
I created this dummy dockerfile to include your requirements.
I am not really sure if it can be avoided to be run as root, probably you can figure it out better.
To use it:

- create a file named Dockerfile and past the content
- run `docker build -t myrepo/myimage .`  where _myrepo_ and _myimage_ can be arbitrary names as long as you don't push them on Docker Hub [[1](https://docs.doc

[2020-02-11 09:10] mconcas commented on #145
PS. Notice that in case you want to play with rebuilding the image, in order to run the latest you have to run `alidock stop` every time, otherwise it will log into running container, which would be not the latest built.

Cheers

[2020-02-11 10:29] maireiphc commented on #145
Hi Matteo,

  thank you for your prompt reply and for your details.
Still in trouble (my bad).

invalid argument "alidock/alidock+latex4rivet" for "-t, --tag" flag: invalid reference format

1. Where in the OS should/can I run the docker build command ?
(So far, I have /home/myuserID/alidock with the earlier alidock installation)

2. my tag "myrepo/myimage" is not accepted apparently. I haven't fi

[2020-02-11 10:37] mconcas commented on #145
To me, if I remove the `+` it works:
`docker build -t alidock/alidocklatex4rivet -f Dockerfile`

Wherever you want, if you are manually passing the path to Dockerfile like in your snippet. Docker != alidock, so it doesn't really matter.

I suggest you not to use alidock/smth as tag since if at some point you would like to push it on docker hub this will not work since alidock repository exists alr

[2020-02-11 10:51] maireiphc commented on #145
Ok, now it starts. Thanks !
It is expected to take long time + a certain disk space ?
"Sending build context to Docker daemon  55.17GB" and growing ...

[2020-02-11 10:55] mconcas commented on #145
That sounds weird, mine takes less than 3GB with the latex package installed

[2020-02-11 11:00] maireiphc commented on #145
Actually what the docker build is doing behind the scene ?
Taking a full CentOS 7 distro, add the layer alidock  and then run the yum install things that I wanted ?

[2020-02-11 11:07] mconcas commented on #145
Depending on what is the base image you are using it downloads it.
In the alidock case it is used a base to start with your custom instructions (`FROM alipier/alidock`).
`alipier/alidock` base image size is 2.44GB large.
Then you put on top some layers (they are called like that) of installed software.
Then the result is 2.8GB

[2020-02-11 11:13] maireiphc commented on #145
. Should I have an alidock container running somewhere at the build time ? Or is it ok if I `alidock stop` before the `docker build` ?

. How Docker knows what it has to pick-up : https://github.com/alidock/alipier ?
`FROM alipier/alidock` , in the Dockerfile, is enough, it completes whatever is needed to locate the source ?

[2020-02-11 11:16] mconcas commented on #145
Running containers are not related to image building

it is not picking that from there, it is picking that from dockerhub, the `alipier/alidock` is a repository there: https://hub.docker.com/repository/docker/alipier/alidock

Yes

[2020-02-11 13:21] maireiphc commented on #145
Ok, I stop the process while I have been reaching 150 GB of 'sending build context'
I did the `docker build` command directly under my home directory, which is apparently not recommended (https://docs.docker.com/engine/reference/commandline/build/ "In most cases, it’s best to put each Dockerfile in an empty directory" ... )

I created an empty directory (~HOME/alidock-latex4rivet/), moved there an

[2020-02-11 15:04] mconcas commented on #145
True, i forgot that.

why should I do that? isn't that the call to the program? this you can do in any session. Dockerfile just describes commands to setup environment and prereq. The entrypoint of alidock is its ssh server.

`$> docker images`

`$> docker rmi myrepo/myimage` (rmi -> remove image)

This is indeed an even more advantage usage, You surely can, but you should work with the master bra

[2020-02-11 15:04] #145 closed, assigned to nobody

[2020-02-12 08:41] mconcas commented on #146
Dear Zlatko,
unfortunately it is not possible at the moment to run a notebook with alidock.
This is due design limitations in how we use the container.
At the moment the development of alidock is on hold, since lack of humanpower.

Cheers,
Matteo

[2020-02-12 08:41] #146 closed, assigned to nobody

[2020-02-12 08:42] mconcas commented on #107
bye bye logo

[2020-02-12 08:42] #107 closed, assigned to nobody

[2020-02-12 08:42] #101 closed, assigned to nobody

[2020-02-12 08:43] mconcas commented on #40
See #146

[2020-02-12 08:43] #40 closed, assigned to nobody

[2020-02-12 08:44] #86 closed, assigned to nobody

[2020-02-12 08:44] #117 closed, assigned to nobody

[2020-08-28 08:28] iravasen opened #151 "alidock stucked on "Creating container, hold on""
I have ubuntu 18.04 and alidock version 1.5.2.
Docker version is 19.03.6

[2020-08-28 10:07] mconcas commented on #151
Should now be fixed in 1.5.3

[2020-08-28 10:07] #151 closed, assigned to nobody

[2020-08-28 11:58] spadhan opened #154 "Alidock stucked on "Creating container, hold on '' for several hours"
I have alidock version 1.5.3 and docker version  19.03.12
macOS Mojave version 10.14.6
python3 version- Python 3.8.5
python version -Python 2.7.16

[2020-08-28 14:00] ShiQiu1 commented on #154
Hi, I had the same issue today. But when I kept trying it, somehow it worked suddenly. I think that alidock is trying to download something and gets stuck on that. In Linux, there is a syslog file located at /var/log/syslog which stores the info of system processes. Maybe there is a similar log file in macOS.

Once alidock successfully created container, I have following lines in syslog file:

Bef

[2020-08-28 14:35] mconcas commented on #154
Hello, yes, alidock 1.5.3 now downloads an updated container, which might take a while, especially with poor connection.
The uncompressed image is around 2.5GB.

[2020-08-28 14:39] spadhan commented on #154
Does it take some time to create a container after typing alidock?

[2020-08-28 14:43] mconcas commented on #154
usually very little if the container image has been downloaded already, otherwise it depends on your connectivity.
Could you please be so kind to try in your terminal:
[code]
This is basically the command that runs hiddenly with alidock.
The output might help us to understand whether you succeded in downloading the image already or you got stuck because of the pulling duration.

Let me know what h

[2020-08-28 16:16] spadhan commented on #154
Now I can start alidock . but after typing ali I got this error

ERROR: AliPhysics/latest was not found

[2020-08-28 16:18] mconcas commented on #154
Have you tried to rebuild AliPhysics?

[2020-08-28 16:20] spadhan commented on #154
No. I did not try.

[2020-08-28 16:26] spadhan commented on #154
Before this issue, when I type ali after alidock command, it redirects automatically to  aliroot page.

[2020-08-28 16:35] mconcas commented on #154
The `ali` command not working is however not related to alidock but more related to the availability of the `AliPhysics/latest` name in your builds.
What does `type ali` return?

[2020-08-28 16:44] spadhan commented on #154
ERROR: AliPhysics/latest was not found

[2020-08-28 16:59] mconcas commented on #154
That is the output of the `ali` command, which should probably be an alias.
Try to rebuild your AliPhysics and that should work.

closing this issue, becaus it is anyways not related to alidock itself.

[2020-08-28 16:59] #154 closed, assigned to nobody

[2020-08-30 17:40] pchrista opened #155 "problems with alidock installation"
hi,

my alidock installation that used to work w/o problems, does not work anymore (due to some automatic system update?).
I removed $HOME/.virtualenvs/alidock/ and reinstalled alidock with
bash <(curl -fsSL https://raw.githubusercontent.com/alidock/alidock/master/alidock-installer.sh)

This command gave the attached output, which as far as I understand shows that things are missing.
Is there mayb

[2020-09-01 08:45] pchrista commented on #155
Hi all,
is there maybe any suggestion?
I see that I did not specify before the following

docker 2.3.0.4 on Catalina (10.15.6)
python 2.7.16 and python3 3.8.2

[2020-09-01 13:34] mconcas commented on #155
From the output it looks you are installing alidock with Python 3.8+.
I am not sure but this could be the issue.
On my Mac i have python 3.7, and it works smoothly.

Have you the possibility to try with something lesser than python 3.8?
It is still quite strange, anyways.

I'll try to reproduce your issue.

[2020-09-01 14:19] pchrista commented on #155
just an update
downscaling to 3.7.8 allows the installation to go fully through

[2020-09-01 14:28] mconcas commented on #155
So this means that python 3.8 might break something. I'll take it into account.
Thanks, glade you have fixed.

[2020-09-01 14:28] #155 closed, assigned to nobody

[2020-09-01 15:29] efgauger opened #156 "Cannot open alidock"
Hello,

Yesterday, my alidock would not open and gave the following error:
"Updating alidock automatically
+ python3 pypa-virtualenv-d5fed23/virtualenv.py /Users/efgauger/.virtualenvs/alidock
/dev/fd/63: line 25: /Users/efgauger/.virtualenvs/alidock/bin/python3: No such file or directory"

I had no problems with my alidock before this. I tried reinstalling alidock, after seeing a relevant email th

[2020-09-02 07:26] mconcas commented on #156
Can you try to give
`docker pull alisw/alidock`
And see if the container has been downloaded?

Also are you sure the old container is not running? Can you try with
`alidock stop` and then `alidock` again?

[2020-09-02 15:49] efgauger commented on #156
Thanks for the quick response!
I tried "docker pull alisw/alidock" and got the following output:
![Screen Shot 2020-09-02 at 10 40 52 AM](https://user-images.githubusercontent.com/26318112/92005564-3fda9680-ed09-11ea-8154-441448289bfe.png)

I then tried to stop and restart alidock:
![Screen Shot 2020-09-02 at 10 41 29 AM](https://user-images.githubusercontent.com/26318112/92005711-6a2c5400-ed09-11

[2020-09-04 12:48] mconcas commented on #156
To me it looks that you succeed in entering the container, to test it, can you do `cat /etc/os-release` ?
As a matter of fact, you cannot use the alidock command since it is not installed there.
Also the prompt inside the container seems to be messed up, with respect to what you should have as a default, hence the errors at the login. Did you change the `.bashrc` of your shell in the docker contai

[2020-09-04 16:56] efgauger commented on #156
Hi,
Everything seems to be working now. Sorry I forgot to do the alienv enter command in the screenshot.
I'm not sure why I got the errors when I entered the environment, but they are no longer there. (I haven't touched the .bashrc in alidock.)
Thanks a lot for your help.

[2020-09-04 16:57] #156 closed, assigned to nobody

[2020-09-25 07:20] ktf opened #157 "Move to a newer version of git"
If alidock moves to a newer version of git, e.g. something along the lines of:

[code]

you would take advantage of the new (1.6.2) alibuild feature which uses `--filter blob:none` for the git clone. This greatly reduces the amount of sources downloaded:

[code]

[2020-09-29 15:16] mconcas commented on #157
I see the slc7-builder image has been updated [already](https://github.com/alisw/docks/commit/c81ba7b2a3f731e206ff3bb64da823ee18bdfdd7#diff-cc99dc18b3805c9b0ce62dbbd20d29adR52) (one month ago).
So this should come for free by triggering the build for alidock container, I am doing it right now.

Thanks for the hint!

[2020-09-29 15:41] #157 closed, assigned to nobody

[2020-10-16 08:48] torkjellsdatter opened #158 "Updates to the WIki-page?"
After installing AliPhysics with alidocker (macOS Catalina), I have some suggestions for the Wiki-page:

1) The screenshots from the Docker-app under "macOS post-installation" are outdated - or at least my Docker-app doesn't look anything like this. They should perhaps be updated?

2) Under "Build software from within alidock", there should perhaps be a sentence that tells the user to start under

[2020-10-27 08:03] Nikolajal opened #159 "Trying to build aliPhysics I get an error"
When building the packages I get these error messages:
ERROR: GET https://alicache.cern.ch//TARS/slc7_x86-64/store/b2/b26492899c1e2d33f37764947e600564531ea2cb/ failed: HTTPSConnectionPool(host='alicache.cern.ch', port=443): Read timed out. (read timeout=15)
WARNING: defaults-release (b26492899c1e2d33f37764947e600564531ea2cb) not fetched: have you tried updating the recipes?

[2020-10-29 11:50] Nikolajal opened #160 "installation script failing"
nikolajal@Nicolas-MacBook-Pro alidock % bash <(curl -fsSL https://raw.githubusercontent.com/alidock/alidock/master/alidock-installer.sh)
Checking if your Docker installation works
Creating an environment for alidock using Python 3.8.2 (python3) and virtualenv 16.2.0
+ python3 pypa-virtualenv-d5fed23/virtualenv.py /Users/nikolajal/.virtualenvs/alidock
Using base prefix '/Applications/Xcode.app/Cont

[2020-11-03 16:42] mconcas commented on #159
Hi, this error is due to the malfunctioning of cache servers.
You can pass the `--always-prefer-system` to aliBuild command to avoid downloading precompiled builds.

It is anyways not directly related to alidock, closing.

[2020-11-03 16:42] #159 closed, assigned to nobody

[2020-11-03 16:43] mconcas commented on #160
I am working on a fix for this issue, try with the python 3.7 installed via brew, it will work.

[2020-11-03 16:55] mconcas commented on #158
Hi, thanks for your feedback and suggestions! Sorry for the late reply.
In order:
1.  You are definitely right, as soon as I find some time I will update them. In case you are willing to contribute feel free to do that with a PR! :)
2.  For any upgrade to the analysis-tutorial documentation, which is very welcome, you can refer to the official repo. It is community maintained and improved. You can

[2020-11-04 10:39] mconcas commented on #160
Hi @Nikolajal,

In case you are still having issues with alidock I suggest you to reinstall it form the master version of this repo. You can do it by typing:

`bash <(curl -fsSL https://raw.githubusercontent.com/alidock/alidock/master/alidock-installer.sh) git`

Let me know, if it works I'll publish an updated release.

Cheers

[2020-11-04 11:11] Nikolajal commented on #160
Thank you very much, everything seems to work just fine

[2020-11-04 16:51] #160 closed, assigned to nobody

[2020-11-06 10:00] jiddon opened #163 "Cannot start alidock"
# Problem:
I have the following issue after revisiting a working alidock installation after some months:
![image](https://user-images.githubusercontent.com/36040274/98352725-af794480-201e-11eb-8560-4d6cc9b6984e.png)
( Similar to [https://github.com/alidock/alidock/issues/156](url) )

# Tried:
![image](https://user-images.githubusercontent.com/36040274/98352814-d172c700-201e-11eb-8def-38d36cce3ae9.

[2020-11-06 11:55] jiddon commented on #163
The solution was to reinstall alidock ( bash <(curl -fsSL https://raw.githubusercontent.com/alidock/alidock/master/alidock-installer.sh) ) after installing python3-venv (apt-get install python3-venv)

[2020-11-06 11:55] #163 closed, assigned to nobody

[2020-11-06 13:10] ktf opened #164 "Please update alidock to use alibuild 1.6.4"
I've just released alibuild `v1.6.4` which adds support for a S3 based repository, rather than the soon to be deprecated alicache. Can you please make sure the alidock image is update to use it? No other changes WRT v1.6.3.

[2020-11-06 13:55] mconcas commented on #164
Hi @ktf, thanks a lot for the S3 new cache and for the ping on the update.
https://github.com/alidock/alipier/pull/22 is bumping it.

[2020-11-09 16:53] #164 closed, assigned to nobody

[2020-11-10 10:43] mconcas opened #166 "Towards a more centralised approach and better testing"
Next in line:

- [x] GitHub actions for testing Matrices of Python versions with current OSs: Ubuntu
- [x] Move image alisw/alidock Dockerfile to this repository in order to  consistently check its installation and startup
- [ ] Include container image building in tests and publish latest image automatically on alisw/alidock upon tagging
- [ ] Move to alisw/alidock?

[2020-11-10 15:02] trancien opened #168 "/usr/bin/env: python3: No such file or directory"
Hello,

I installed alidock under MacOS catalina 10.15 last week and after resolving some issues i was able to run it.
So i started to follow the analysis tutorial exercise from the ali-doc git hub :
https://alice-doc.github.io/alice-analysis-tutorial/analysis/setup.html#trouble-

But when i try to enter the alice environment shell i get the following :
[AliPhysics/latest] ~ $> alien.py
/usr/bin/e

[2020-11-10 16:13] mconcas commented on #168
Hello,
it looks like you have some problems with your installation of aliphysics, which unfortunately is not something I can help you too much here.
Only advice I feel to give to you is that being inside the alidock docker container or on your mac are two things technically different. You will not find any `brew/sudo/python3` that are on your mac inside the container. It is a completely isolated e

[2020-11-10 16:13] #168 closed, assigned to nobody

[2020-11-11 10:40] mconcas commented on #166
MacOS cannot be tested, see #169

[2020-11-11 18:16] #166 closed, assigned to nobody

[2020-11-11 18:16] #158 closed, assigned to nobody

[2020-12-21 09:21] aknospe opened #178 "Build Fails on boost"
Hello. I am trying to build AliPhysics in a clean alidock container, but the process fails building boost. The relevant errors seem to be:

  message(SEND_ERROR "Target Boost::context already has an imported location '${__boost_imploc}', which is being overwritten with '${_BOOST_LIBDIR}/libboost_context.so.1.74.0'")
  message(SEND_ERROR "Target Boost::fiber already has an imported location '${__bo

[2020-12-23 23:50] aknospe commented on #178
My mistake. It was a memory issue in Docker. Sorry for the entropy.

[2020-12-23 23:50] #178 closed, assigned to nobody

[2021-01-28 00:09] nicolazurlo opened #180 "Problem when installing (starting) alidock on Mac OSX Catalina"
I installed Docker 3.1.0
checked the disk image is .raw
checked that the filesystem is APFS

the line:
bash <(curl -fsSL https://raw.githubusercontent.com/alidock/alidock/master/alidock-installer.sh).
works well, it says
Checking if your Docker installation works
Creating an environment for alidock using Python 3.9.1 (python3)
Installing alidock under /Users/nicolazurlo/.virtualenvs/alidock
Instal

[2021-01-28 12:46] mconcas commented on #180
Hi, can you try to install python 3.8 via brew and reinstalling alidock after?

To uninstall just remove the ~/.virtualenvs/alidock directory

[2021-01-28 21:12] nicolazurlo commented on #180
Thanks for your support.

I did it, the output has changed but it hasn't fixed the issue:

bash-3.2$ bash <(curl -fsSL https://raw.githubusercontent.com/alidock/alidock/master/alidock-installer.sh)
Checking if your Docker installation works
Creating an environment for alidock using Python 3.8.7 (python3)
Installing alidock under /Users/nicolazurlo/.virtualenvs/alidock
Installed: alidock 1.6.0
You

[2021-02-02 16:36] JianLIUhep opened #181 "memlock cannot be resized"
Dear experts,

Is there a way in alidock to resize the memlock?
For my understanding, it can be easily resized by modifying /etc//security/limits.conf out of docker, and can be changed by adding arguments like _docker run --ulimit_ in docker. But I have no idea how to set the value with alidock.

Thank you in advance.

Best regards,
Jian

[2021-02-02 18:40] mconcas commented on #181
Hi,
It is not possible in alidock.

[2021-02-03 09:24] JianLIUhep commented on #181
Thanks a lot for the quick answer. I am going to close this ticket.

[2021-02-03 09:24] #181 closed, assigned to nobody

[2021-04-28 14:03] pchrista opened #182 "problem with alidock on a shared system"
Hi all,
I'm trying to get alidock up and running on a shared fs on CentOS7 machines
I created an alias for alidock:

alias alidock='alidock --shared /data/alice/pchrist/alidock'

but when running the command I get:

bash|nass> alidock
Creating container, hold on
Starting a shell into the container
Cannot continue: cannot log into the container, maybe it did not start up properly: check log file /d

[2021-04-28 14:04] pchrista commented on #182
I forgot to say that I don't think it's a rights issue

[2021-06-26 14:34] boonying04 opened #189 "Alidock installing on Mac OS fail (ModuleNotFoundError: No module named 'six')"
Hi,
I got problem while installing alidock on Mac OS Big Sur v.11.4
after this command : bash <(curl -fsSL https://raw.githubusercontent.com/alidock/alidock/master/alidock-installer.sh)

I got the error message say  "ModuleNotFoundError: No module named 'six'"
when I try to use alidock it giving the same error message.

full message bellow here:
Checking if your Docker installation works
Creating

[2021-07-05 15:29] Nikolajal commented on #189
I managed to solve with:

[2021-07-07 09:32] boonying04 commented on #189
It seems to be working now, thank you for your advice it very helpful.

[2021-07-07 09:34] #189 closed, assigned to nobody

[2021-07-12 09:34] #180 closed, assigned to nobody

[2021-07-13 18:05] raquishp opened #193 "Mac: cannot run alidock after upgrade of docker and xcode"
Dear experts,

I'm having trouble building AliPhysics after upgrades of docker and xcode. After the upgrades, I was not able to compile AliPhysics anymore, and the error was due to libperl, so I reinstalled it, and it still didn't work, so I removed everything and reinstalled from scratch. Now I'm trying to install again alidock with the tutorial, but I get the following error:

[code]

when runni

[2021-07-14 07:57] mconcas commented on #193
Hello @raquishp : https://github.com/alidock/alidock/issues/189 presents a solution.

Let me know if it works.

[2021-07-19 02:44] raquishp commented on #193
Hi @mconcas, thanks for the link, it solved that part. However, now I have another issue. When testing locally my task, I used to compile it by running:

[code]

however, when running `make -j 4 install` I get the following problem:

[code]

do you know why this is happening? or do you have an alternative way to compile my change to the task without needing to fully rebuild AliPhysics every time?

[2021-07-19 08:35] mconcas commented on #193
`make install -j4` ?

[2021-07-19 08:35] #193 closed, assigned to mconcas

[2021-07-19 08:43] mconcas commented on #182
Sorry for overlooking this. Unfortunately I don't currently support shared filesystems with alidock. The reason is heavily entangled to the many types of shared filesystem available and their possible integration is really managed at docker level.
So, while I expect that in many cases it can just work seamlesslly, I am not in force to cover all possible scenarios.
As a side note, since you are run

[2021-07-19 08:43] #182 closed, assigned to nobody